.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  margin-top: 10px;
  margin-bottom: -4px;
}

.input {
  border: 1px solid gray;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 4px;
}

.menu {
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  padding: 12px 10px;
}

.menu-mobile {
  display: flex;
  cursor: pointer;
  margin: 20px 0;
}

.menu-mobile i {
  font-size: 22px;
  margin-right: 10px;
  margin-left: 10px;
}

.menu1:hover {
  background-color: rgb(231, 229, 229);
  transition: 0.4s;
  border-radius: 10px;
}
.menu p {
  font-size: 16px;
}
.mobile-menu {
  z-index: 99;
}
.menu i {
  font-size: 22px;
  margin-right: 20px;
}
.main-menu {
  border-right: 1px solid rgb(218, 215, 215);
  bottom: 0;
}
.comment {
  overflow: auto;
}
.profile::-webkit-scrollbar {
  display: none;
}
.comment::-webkit-scrollbar {
  width: 4px;
}

.comment::-webkit-scrollbar-track {
  background-color: gray;
}

.comment::-webkit-scrollbar-thumb {
  background-color: rgb(48, 48, 248);
}

.img-cover {
  object-fit: cover;
}
.home-comment {
  overflow: scroll;
}
.home-comment::-webkit-scrollbar {
  display: none;
}
.all-main-comp {
  overflow: auto;
}

.all-main-comp::-webkit-scrollbar {
  display: none;
}

.bio_section {
  overflow: hidden;
}
.tabs-shadow {
  box-shadow: 0px 2px 20px 0px #e4e4e4;
}
.all-posts::-webkit-scrollbar {
  display: none;
}
.all-chats::-webkit-scrollbar {
  display: none;
}
.text-small {
  font-size: 11px;
}
.skeleton-loader {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.active {
  font-weight: 500;
}
.inactive {
  font-weight: normal;
}
